# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.golangci.yml
*.swp
*.pprof

# Certificates and private keys
*.pem
*.crt
*.cer
*.cert
*.der
*.p7b
*.p7c
*.p12
*.pfx
*.key
*.jks
*.keystore


# OSX specific os files
*.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

pkg/
github.com/
golang.org/
.vscode/
.idea/
