name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
      - dev
  pull_request:
    # This guards against unknown PR until a community member vet it and label it.
      types: [ labeled ]

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.32

          # Optional: golangci-lint command line arguments.
          # args: --issues-exit-code=0

